<html>
  <head>
    <style>
      @media only screen and (max-device-width: 480px) {
        div[class="image"] {
          width: 100% !important;
          border: none;
        }
      }
    </style>
  </head>
  <body>
    <span style="display: none !important;">{{ leader }}</span>
    <table width="100%" style="font-family: Georgia, serif;">
      <tr>
        <td>

          {{ content }}

        </td>
      </tr>
      <tr>
        <td>
          <div style="background-color:#ccc; padding:10px; margin-top:50px;">
            {{ footer_html }}
            <p>If you don't check this email address anymore, reply with your new one.</p>
            {% if do_unsubscribe %}
            <p>If you'd like to stop receiving these, <a href="{{ unsubscribe_link }}?e={{ email }}"> click here</a>. </p>
            {% endif %}
          </td>
        </tr>
      </table>
    </body>
  </html>
